@inherits LayoutComponentBase

<div class="empty-layout-wrapper" style="min-height: 100vh; width: 100vw; display: flex; justify-content: center; align-items: center; background-color: #f6f5f7; position: relative; overflow-x: hidden;">
    @Body
</div>
