@inherits LayoutComponentBase

<div class="page">
    <HeaderNav />
    
    <main>
        <article class="content">
            @Body
        </article>
    </main>

    <Footer />
    <Food.Web.Components.ChatBox />
</div>
